body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  width: 100vw;
  height: 100vh;
  grid-template-rows: repeat(5, 1fr);
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color: #e2e8f0;
}
header {
  grid-column-start: 2;
  grid-row-start: 1;
}
.svg-1-navbar {
  height: 3vh;
  width: 3vw;
  cursor: pointer;
}
.svg-2-navbar {
  height: 4vh;
  width: 4vw;
  cursor: pointer;
}
.navbar {
  background-color: white;
  height: 33vh;
  box-shadow: 0px 1px 20px gray;
  padding-left: 10vh;
  padding-top: 1vh;
}
.input-1 {
  background-color: #e2e8f0;
  border: none;
  width: 35vw;
  height: 3vh;
  border-radius: 3vw;
}
.father-navbar {
  display: flex;
  gap: 15vw;
  max-width: 90vw;
}
.lion-logo {
  height: 10vh;
  width: 10vh;
  border-radius: 100%;
}
.ring-bell {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  cursor: pointer;
}
.child-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.lion-logo2 {
  height: 15vh;
  width: 15vh;
  border-radius: 100%;
}
.second-father-navbar {
  max-width: 90vw;
  margin-top: 2vw;
  display: flex;
  gap: 20vw;
  align-items: center;
}
.lionetag {
  display: flex;
  flex-direction: column;
  width: 20vw;
  gap: -500px;
}
.logo-lion-section {
  display: flex;
  gap: 1vw;
}
.header2-lionel {
  font-size: 1.5rem;
  margin-top: 0;
}
.father-button {
  display: flex;
  gap: 2vw;
}
.button-nav {
  border: none;
  color: white;
  background-color: #0284c7;
  border-radius: 50px;
  height: 6vh;
  width: 7vw;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  font-size: 2vh;
}
html {
  font-size: 3vh;
}
